.events-container{
    display: flex;
    pointer-events: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(16, 15, 15, 0.913);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.events--container--appear{
    opacity: 1;
    pointer-events: auto;
}