.about-button {
    --width: 100px;
    --height: 35px;
  
   
    width: var(--width);
    height: var(--height);
   
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
   
  }
  
  .about-button::before {
    position: absolute;
    
  
  
    font-size: 0.9rem;
    
    border-radius: .25em;
  
  }
  
  .about-button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
  }
  
  .about-button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0;
    font-size:26px;
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
  }
  
  .icon p {
    width: 24px;
    height: 24px;
    font-size:26px;
    text-align:center;
    margin-right:50px;
    cursor:pointer;
  }
  
  .about-button:hover .text {
    top: -100%;
  }
  
  .about-button:hover .icon {
    top: 0;
  }

/*----------------------------------------- Navbar------------------------------------ */

.nav-links-container{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    row-gap: 20%;
    padding: 0;
   
}

.nav-links{
    color:white;
    font-size: 36px;
    cursor: pointer;
    transition: all 0.5s;
}

.nav-links:hover{
    color:#3535cc;
    transition: all 0.5s;
}

/* -----------------------------------------Burger----------------------------------- */

#checkbox {
    display: none;
    position: fixed;
    right:2px;
  }
  
.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
}
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: #3535cc;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1 {
    width: 50%;
  }
  
  #bar2 {
    width: 75%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .1s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }

/* -----------------------------------------music---------------------------------------- */

.spinner {
  background-image: linear-gradient(#035db8 35%,#6513a0);
  width: 70px;
  height: 70px;
  
  text-align: center;
  border-radius: 60px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px #035db8, 0px 5px 20px 0px #6513a0;
}

.spinner-click{
  animation: spinning82341 1.7s linear infinite;
}

.spinner1 {
  background-color: #001F3F;
  width: 68px;
  height: 68px;
  border-radius: 50px;
  filter: blur(5px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}